<h1>Street Cafes By Post Code</h1>

<table>
  <tr>
    <th>post_code</th>
    <th>total_places</th>
    <th>total_chairs</th>
    <th>chairs_pct</th>
    <th>place_with_max_chairs</th>
    <th>max_chairs</th>
  </tr>

  <% @postcodes.each do |postcode| %>
    <tr>
      <td> <%= postcode.postcode %> </td>
      <td> <%= postcode.total_places %> </td>
      <td> <%= postcode.total_chairs_by_postcode %> </td>
      <td> <%= postcode.percentage_of_all_chairs_at_postcode %>%</td>
      <td> <%= postcode.cafe_with_max_chairs %></td>
      <td> <%= postcode.max_chairs %></td>
    </tr>
  <% end %>
</table>
